@import "@/styles/__variable";
@import "@/styles/_breakpoint";
@import "@/styles/_mixin";

.wrapper {
  // padding: 0px 20px;
  margin: 0;
  // display: flex;
  color: map-get($color, base_font_color);
  // color: "rgb(142, 142, 142)";
  // background-color: red;
  @include mq(pc) {
    display: flex;
  }

  p {
    margin: 0;
    line-height: map-get($font, base_line_height);
    // font-size: map-get($font, base_font_size);
  }
  h1 {
    margin: 0;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: pink;
    @include mq(pc) {
      width: 50%;
    }
    @include mq(mobile) {
      width: 100%;
    }

    h1 {
      font-size: clamp(30px, 4vw, 100px);
    }

    .description-wrapper {
      // width: 80%;
      padding: 0px 10%;
      // margin: 50px auto 0px;
      // background-color: lightgreen;

      button {
        margin-top: 50px;
      }
    }

    .description p {
      margin-top: 10px;
      // font-size: map-get($font, base_font_size);
    }
  }

  .right-content {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    @include mq(pc) {
      width: 50%;
    }
    @include mq(mobile) {
      width: 100%;
    }
    // background-color: skyblue;
  }

  .test-div {
    background-color: red;
    width: 90%;
    overflow: hidden;
    @include mq(mobile) {
      height: 500px;
    }
    overflow: hidden;
    @include mq(pc) {
      height: 700px;
    }
    // height: 700px;
  }
  .image-wrapper {
    background-color: blue;
    // width: 100%;
    overflow: hidden;
    background-image: url("../../images/Introduction_image3.jpg");
    background-size: cover;
    // background-position: bottom;
    @include mq(mobile) {
      height: 600px;
    }
    @include mq(pc) {
      height: 800px;
    }
    img {
      object-fit: cover;
      // width: 120%;
      height: 800px;
      // max-width: 100%;
      // height: auto;
    }
  }

  .anime {
    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
