button {
  color: white;
  padding: 5px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.red {
  background-color: red;
}

.blue {
  background-color: rgb(18, 93, 255);
  transition-duration: 500ms;

  &:hover {
    background-color: rgb(28, 190, 253);
  }
}

.opacity {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
