@import "@/styles/__variable.scss";

.wrapper {
  // padding: 0px 20px;
  margin: 0;
  display: flex;
  color: map-get($color, base_font_color);
  // color: "rgb(142, 142, 142)";
  // background-color: red;

  p {
    margin: 0;
    line-height: map-get($font, base_line_height);
    font-size: map-get($font, base_font_size);
  }
  h1 {
    margin: 0;
  }

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: pink;

    h1 {
      font-size: clamp(30px, 4vw, 100px);
    }

    .description-wrapper {
      width: 80%;
      margin: 50px auto 0px;
      // background-color: lightgreen;

      button {
        margin-top: 50px;
      }
    }

    .description p {
      margin-top: 10px;
    }
  }

  .right {
    position: relative;
    margin: 0;
    width: 50%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: skyblue;
  }
  .image-wrapper {
    width: 500px;
    height: 700px;
    // background-color: lightgreen;
    overflow: hidden;
    img {
      object-fit: cover;
      // width: 120%;
      height: 800px;
      // max-width: 100%;
      // height: auto;
    }
  }
  // .about-absolute-image-wrapper {
  //   position: absolute;
  //   bottom: -150px;
  //   left: -450px;
  //   width: 600px;
  //   height: 400px;
  //   background-color: pink;
  //   img {
  //     object-fit: cover;
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
}
