@import "../../__variable.scss";

.tours-wrapper {
  // padding: 20px;

  .tours-headline {
    text-align: end;
    margin-right: 20px;
    // font-size: min(4vw, 50px);
    font-size: clamp(30px, 4vw, 100px);
  }

  // .tours-description {
  //   p {
  //     font-size: map-get($font, $key: base_font_size);
  //     line-height: map-get($font, $key: base_line_height);
  //   }
  // }

  .tours-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    // margin-top: 50px;

    .tours-card {
      width: 350px;
      margin: 10px 10px;
      // &:not(:last-of-type) {
      //   margin-right: 15px;
      // }
    }
  }
}

.tours-content-wrappter {
  // background-color: red;
  // text-decoration: none;
  // background-color: lightgreen;
  margin: 0;
  padding-top: 100px;
  padding-left: 0px;
  list-style: none;
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;

  .tours-content {
    width: 250px;
    // height: 450px;
    // background-color: rgb(142, 142, 142);
    margin: 0px 10px;
    // border: solid 1px rgb(174, 174, 174);
    // box-shadow: 0px 10px 10px -5px rgb(152, 152, 152);

    h2 {
      font-family: sans-serif;
      font-weight: bold;
      font-size: 20px;
      margin: 0;
    }

    p {
      margin: 0;
      line-height: 1.5em;
      padding-top: 15px;
      font-size: 15px;
    }

    // .test {
    //   position: relative;
    // }

    // .test::after {
    //   content: attr(data-title);
    //   position: absolute;
    //   bottom: 5px;
    //   left: 10px;
    //   color: white;
    //   font-size: 25px;
    // }

    .tours-content_item {
      margin: 0;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      // background-color: blue;

      .tours-content_item_l {
        color: white;
        font-size: 25px;
        user-select: none;
        text-decoration: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.366);

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &_active {
          animation: fadeIn 1s;
        }

        &_inactive {
          animation: fadeOut 1s;
          animation-fill-mode: forwards;
        }
      }

      &_img {
        object-fit: cover;
        cursor: pointer;
        transition-duration: 0.5s;
      }
      &_img_active {
        transform: scale(1.05);
      }
      &_img_inactive {
        transform: scale(1);
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.img_hover {
  // opacity: 0.5;
  transform: scale(1.02);
}

.tours-image-container {
  position: relative;
  margin: 0;
  background-color: map-get($color, $key: base_font_color);
  width: 90%;
  height: 500px;

  .tours-description {
    position: absolute;
    top: -150px;
    left: 10%;
    width: 80%;
    // border: 1px solid map-get($color, $key: base_font_color);
    // height: 100px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);

    p {
      font-size: map-get($font, $key: base_font_size);
      line-height: map-get($font, $key: base_line_height);
    }
  }
}
