@import "@/styles/__variable.scss";

:root {
  --modal-scale: 20;
  --modal-length: 0px;
}
$test: --modal-length;

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .bg-image {
    width: 90vw;
    height: 90vh;
    background-image: url("../../images/_MG_4037のコピー.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
  }
}

.container_mobile {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .bg-image {
    width: 90vw;
    height: 70vh;
    background-image: url("../../images/_MG_4037のコピー.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
  }
}

.header {
  color: rgb(246, 37, 22);

  .header-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    z-index: 10;
  }

  .title {
    position: fixed;
    line-height: 1;
    margin: 0;
    cursor: pointer;
    z-index: 30;
    font-size: inherit;

    > h1 {
      margin: 0;
    }
  }
}

.hamburger-wrapper {
  background-color: rgb(250, 80, 80);
  border: 0;
  border-radius: 50%;
  position: fixed;
  bottom: -35px;
  right: -100px;
  height: 100px;
  width: 100px;
  transition: all 0.5s;
  // -webkit-transition: -webkit-transform all 0.5s;
}

.default-hamburger-position {
  z-index: 50;
  transform: translateX(0px) rotate(180deg);
}

.modal-open {
  // transform: scale(20);
  width: calc(var(--modal-length) * 2.5);
  height: calc(var(--modal-length) * 2.5);
  bottom: calc(var(--modal-length) * -1);
  right: calc(var(--modal-length) * -1);
  background-color: white;
}

.hamburger {
  position: relative;
  background-color: transparent;
  transition: all 0.5s;
  -webkit-transition: -webkit-transform all 0.5s;
  border: 0;
  border-radius: 50%;
  color: white;
  height: 100px;
  width: 100px;
  cursor: pointer;
  position: fixed;
  bottom: -35px;
  right: -100px;
  z-index: 60;

  span {
    position: absolute;
    top: 30%;
    left: 20%;
  }
  .span_open_modal {
    color: rgb(255, 65, 65);
  }
}

.active {
  transform: translateX(-65px) rotate(0deg);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 60;

  > ul {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      color: white;
      background-color: rgb(253, 77, 77);
      border: none;
      border-radius: 25px;
      padding: 5px 10px;
      cursor: pointer;
    }
    > li:not(:first-child) {
      margin-top: 10px;
    }
  }
}
