@import "@/styles/__variable.scss";

.header {
  color: rgb(246, 37, 22);

  .header-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    z-index: 10;
  }

  .title {
    position: fixed;
    line-height: 1;
    margin: 0;
    cursor: pointer;
    z-index: 30;

    > h1 {
      margin: 0;
      font-size: inherit;
    }
  }
}

// .message {
//   padding-left: 30px;
//   position: absolute;
//   left: 0;
//   bottom: 10px;
//   white-space: nowrap;

//   display: inline-block;
//   color: white;
//   font-size: 100px;
//   animation: infinity_animation 30s infinite linear;
// }

// .message::after {
//   content: attr(data-text);
//   display: inline-block;
//   position: absolute;
//   bottom: 0;
//   left: 100%;
//   padding-left: 30px;
// }

// @keyframes infinity_animation {
//   from {
//     transform: translateX(0%);
//   }
//   to {
//     transform: translateX(-100%);
//   }
// }
