@import "../../__variable.scss";

.header {
  color: rgb(22, 182, 246);
  // min-height: 100vh;
  // color: map-get($color, base_font_color);
  // background-image: url("../../images/_MG_4037のコピー.jpg");
  // background-size: cover;
  // background-position: center;
  // overflow-x: hidden;
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    // background-color: rgb(112, 112, 112);
    z-index: 10;
  }

  .header-headline {
    z-index: 999;
    position: fixed;
    line-height: 1;
    margin: 0;
    cursor: pointer;
    // font-size: clamp(100px, 1vw, 200px);
    // color: rgb(112, 112, 112);
  }

  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    z-index: 999;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .header-nav-ul {
    padding: 0;
    margin: 0 5% 0 0;
    list-style: none;
    display: flex;
    // z-index: 999;

    .header-nav-list {
      // z-index: 999;
      padding-right: 1em;
      cursor: pointer;

      .header-nav-list-span {
        display: block;
        position: relative;

        &::before {
          z-index: -1;
          display: block;
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
          content: "";
          height: 1px;
          background-color: rgb(20, 138, 228);
          // background-color: map-get($color, base_font_color);
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.5s;
        }

        &:hover::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        &_active::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}

// .header-message-wrapper {
//   width: 100%;
// }

.header-message {
  padding-left: 30px;
  position: absolute;
  left: 0;
  bottom: 10px;
  white-space: nowrap;
  // width: 100%;
  // background-color: red;
  display: inline-block;
  color: white;
  font-size: 100px;
  animation: infinity_animation 30s infinite linear;
}

.header-message::after {
  content: attr(data-text);
  display: inline-block;
  // background-color: red;
  position: absolute;
  bottom: 0;
  left: 100%;
  padding-left: 30px;
}

@keyframes infinity_animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
