@import "@/styles/__variable.scss";

:root {
  --modal-scale: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .bg-image {
    width: 90vw;
    height: 90vh;
    background-image: url("../../images/_MG_4037のコピー.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
  }
}

.header {
  color: rgb(246, 37, 22);

  .header-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    z-index: 10;
  }

  .title {
    position: fixed;
    line-height: 1;
    margin: 0;
    cursor: pointer;
    font-size: 8vw;
    z-index: 30;

    > h1 {
      margin: 0;
      font-size: inherit;
    }
  }
}

.hamburger-wrapper {
  background-color: rgb(250, 80, 80);
  border: 0;
  border-radius: 50%;
  position: fixed;
  bottom: -35px;
  right: -100px;
  height: 100px;
  width: 100px;
  transition-duration: 0.5s;
}

.default-hamburger-position {
  transform: translateX(0px) rotate(180deg);
}

.modal-open {
  transform: scale(var(--modal-scale)) translateX(-5px) rotate(-180deg);
  background-color: pink;
  z-index: 50;
  right: -65px;
}

.hamburger {
  position: relative;
  background-color: transparent;
  // background-color: green;
  transition-duration: 0.5s;
  border: 0;
  border-radius: 50%;
  color: white;
  height: 100px;
  width: 100px;
  cursor: pointer;
  position: fixed;
  bottom: -35px;
  right: -100px;
  z-index: 60;

  span {
    position: absolute;
    top: 25%;
    left: 15%;
  }
}

.active {
  transform: translateX(-65px) rotate(0deg);
}

// .message {
//   padding-left: 30px;
//   position: absolute;
//   left: 0;
//   bottom: 10px;
//   white-space: nowrap;

//   display: inline-block;
//   color: white;
//   font-size: 100px;
//   animation: infinity_animation 30s infinite linear;
// }

// .message::after {
//   content: attr(data-text);
//   display: inline-block;
//   position: absolute;
//   bottom: 0;
//   left: 100%;
//   padding-left: 30px;
// }

// @keyframes infinity_animation {
//   from {
//     transform: translateX(0%);
//   }
//   to {
//     transform: translateX(-100%);
//   }
// }
