//! variables
@import "./__variable.scss";
//! component css
@import "./components/Header/header.scss";
@import "./components/About/about.scss";
@import "./components/Tours/tours.scss";
@import "./components/Footer/footer.scss";
//! atomic component
@import "./components/atom/Button/button.scss";

body {
  font-family: serif sans-serif;
  // font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
  margin: 0;
  padding: 0;
  color: map-get($color, base_font_color);
  overflow-x: hidden;
}
